form {
	max-width: 280px;
	text-align: center;

	* {
		margin: 0 auto;
	}

	input {
		border: 3px solid $primary-color;
		margin-bottom: 15px;
		padding: 6px 12px;
		@include border-radius(4px);
	}

	select {
		margin-bottom: 15px;
	}
}