.nav > li > a {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
#nav {
	background-color: $tertiary-color;
	bottom: 0;
	padding: 10px 0;
	position: absolute;
	@include size(100%, 100px);

	.navbar {
		border: none;
		margin: 0 auto;
		padding: 0 15px;
		max-width: 960px;
		@extend .l-align-full; 

		.navbar-nav {
		    margin: 0 auto;
		    padding: 0 auto;
		    width: 100%;
			@extend .l-tablelist;

		    > li {
				line-height: 40px;
				margin: 0; 
				padding: 0;

				&:hover {
					color: $primary-logo-color;

					a {
						color: $primary-logo-color;
					}
				}

				a {
					background-color: transparent;
					color: $secondary-color;
					font-family: $primary-font;
					font-size: 1.2em;
					text-transform: uppercase;

					&:hover {
						color: $primary-logo-color;
					}
				}
		    }
		    > li.iconic a {
			    > span {
			    	margin-left: 15px;
			    }
			}
		}
	}

	.navmore {
		background-color: $tertiary-color;
		float: right;
		margin-top: 20px;
	  	padding-right: 15px;
	  	width: 59px !important;

	  	.navbar-nav {
	  		margin: 0 auto;
	  		position: relative;

	  		> li.dropdown {
				line-height: 40px;
				margin: 0; 
				padding: 0;

				&:hover {
					background-color: $secondary-color;

					> a {
						background-color: $secondary-color;
						color: $primary-color;
					}
				}

				> a {
					background-color: $secondary-color;
					color: $primary-color;
					display: block;
					text-align: center;

					i {
						margin: 0 auto;
						@include transition(transform 0.2s, ease-in-out);
					}
				}
	  		}
	  		
			> li.dropdown.open { 
				a {
					background-color: $primary-logo-color;
					color: $primary-color;
					i {
						@include transform(rotate(270deg));
					}
				}

				> ul.dropdown-menu {
					background-color: $primary-logo-color;
					color: $primary-color;
					position: absolute;
					right: 0;
					z-index: 1010;

					li a {
						color: $tertiary-color;

						&:hover {
							color: $secondary-color;
						}
					}
				}
			}
	  	}
	}
}
.affix {
	position: fixed !important;
	top: 0;
}