@include responsive-invisibility('.visible-ty');

.visible-ty-block,
.visible-ty-inline,
.visible-ty-inline-block {
  display: none !important;
}

@media (max-width: $screen-ty-max) {
	@include responsive-visibility('.visible-ty');
}

.visible-ty-block {
  @media (max-width: $screen-ty-max) {
    display: block !important;
  }
}
.visible-ty-inline {
  @media (max-width: $screen-ty-max) {
    display: inline !important;
  }
}
.visible-ty-inline-block {
  @media (max-width: $screen-ty-max) {
    display: inline-block !important;
  }
}

@media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
  @include responsive-visibility('.visible-xs');
}
.visible-xs-block {
  @media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
    display: block !important;
  }
}
.visible-xs-inline {
  @media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
    display: inline !important;
  }
}
.visible-xs-inline-block {
  @media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
    display: inline-block !important;
  }
}

@media (max-width: $screen-ty-max) {
  @include responsive-invisibility('.hidden-ty');
}

@media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
  @include responsive-invisibility('.hidden-xs');
}
