/**
 * ----------------------------------------------------------------------------------------
 * General states
 * ----------------------------------------------------------------------------------------
 */
.s-shown {
  display: block !important;
}
.s-hidden {
  display: none !important;
}
[class^="s-hidden"],
[class*=" s-hidden"] {
  display: none !important;
}


/**
 * ----------------------------------------------------------------------------------------
 * Cursor states
 * ----------------------------------------------------------------------------------------
 */
.s-cursor-pointer {
  cursor: pointer;
}

