$primary-color		: #1A171B;
$secondary-color	: #D9DADB;
$tertiary-color		: #fefdfd;

$default-white		: #ffffff;

$primary-font		: 'headliner';
$secondary-font		: 'jenna-sue';
$tertiary-font		: 'Times';