.btn-group-jumbotron {
	text-align: center;

	.btn:first-child {
		margin-right: 20px;
		@include border-radius(4px);

		@media screen and (max-width: 353px) {
			display: block;
			margin: 20px auto;
		}
	}
	.btn:first-child + .btn {
		font-size: 2em;
	}
}