.btn {
	padding: 15px 35px;
}
.btn-default {
	background-color: $brand-primary;
	text-transform: uppercase;
	@include border-radius(4px);
	@include font-lato-regular(1em, 1em, normal);
}

.btn-primary {
	background-color: transparent;
	border: 2px solid $brand-bright;
	color: $brand-bright;
	letter-spacing: 0.1em;
	text-transform: uppercase;

	@include border-radius(4px);
	@include font-lato-regular(1em, 1em, normal);
	@include transition(all 0.5s);
	@include opacity(0.7);

	&:hover {
		background-color: transparent;
		border: 2px solid $brand-bright;
		color: $brand-bright;
		@include opacity(1);
	}
}

.btn-secondary {
	border: none;
	background-color: transparent;
	color: $brand-secondary;
	padding: 0 3px 0 0;
	@include font-courgette(2.5em, 1em, normal);
	@include transition(all 0.5s);
	
	&:before {
		content: "\00BB";
		margin-right: 5px;
	}

	&:hover {
		color: $brand-bright;
	}
}