#home > .jumbotron {
	background: transparent;
	position: absolute;
	left: 0;
	top: 20%;
	width: 100%;

	.container {
		text-align: center;

		h1 {
			color: $brand-bright;
			margin-bottom: 30px;
		}
		h2 {
			color: $brand-bright;
			margin-bottom: 35px;
		}

		> * {
			margin-left: auto;
			margin-right: auto;
		}
	}
}