#home > .jumbotron {
	background: transparent;
	position: absolute;
	left: 0;
	top: 20%;
	width: 100%;

	.container {
		text-align: center;

		h1 {
			color: $brand-bright;
			margin-bottom: 25px;
			@include font-lato-hairline();

			@media screen and (min-width: 320px) and (max-width: 480px) {
				@include font-lato-regular();
				font-size: 1.4em;
			}
		}
		h2 {
			color: $brand-primary;
			margin-bottom: 40px;
			@include font-lato-hairline();

			@media screen and (min-width: 320px) and (max-width: 480px) {
				font-size: 1em;
				@include font-lato-regular();
			}
		}

		> * {
			margin-left: auto;
			margin-right: auto;
		}
	}
}