#home > .jumbotron {
	background: transparent;
	position: absolute;
	left: 0;
	top: 20%;
	width: 100%;

	.container {
		text-align: center;

		h1 {
			color: $brand-bright;
			margin-bottom: 25px;
			@include font-lato-hairline(5em);
		}
		p {
			color: $bright-lighter;
			font-size: 2em;
			margin-bottom: 40px;
			@include font-lato-hairline(3em);
		}

		> * {
			margin-left: auto;
			margin-right: auto;
		}
	}
}