section {
	&#home {
		background: $brand-contrast url(../img/webdesign-littlebigagency.jpg) no-repeat;
		background-size: cover;
		display: block;
		position: relative;
		margin: 0;
		width: 100%;
		height: 100%;
	}

	&#kenmerken,
	&#portfolio,
	&#mobiel,
	&#tarieven,
	&#over-ons,
	&#contact {
		padding-bottom: 80px;
		padding-top: 80px;
	}

	.section-content {
		@extend .col-lg-4;
		@extend .col-md-6;
		@extend .col-sm-12;
	}
}