// Cookie
@include fontface-ttf('cookie', 'cookie/Cookie-Regular');
@mixin font-cookie() {
	font-family: 'cookie';
}

// Lato fonts
@include fontface('lato-regular', 'lato/lato-regular');
@include fontface('lato-hairline', 'lato/lato-hairline');
@mixin font-lato-regular() {
	font-family: 'lato-regular';
}
@mixin font-lato-hairline() {
	font-family: 'lato-hairline';
}

// Open-Sans fonts
@include fontface('opensans-regular', 'open-sans/OpenSans-Regular');
@mixin font-opensans-regular() {
	font-family: 'opensans-regular';
}

